h1 {
    font-size: 5rem;
    
}

body {
    background-image: url('src/assets/alexandru-acea-XEB8y0nRRP4-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
padding: 2rem; 
    }

     .about {
        display:flex;
        flex-direction: column;
    
    }

    .aboutMe {
        display: flex;
        flex-direction:column;
        font-size: 3ch;
        font-weight: bold;
    }


    @media (max-width: 1400px){
        .aboutMe {
        width: 50%
    
    }

    @media (max-width: 375px){ 
   
        .aboutMe h1{
            font-size: 2rem;
            

            width: 100%;
    }

    

    }}