/* Make sure body/html and container fill full height */
body {
  background-image: url("src/assets/alexandru-acea-XEB8y0nRRP4-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.middleSection h1 {
  display: flex;
  flex-direction: column;
 gap: 20px;
  color: rgb(1, 1, 1);
  font-size: 7rem;
  font-weight: bold;
  color: rgb(1, 1, 1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  font-style: italic;
  justify-content: center; 
  align-items: center; 
}
h1,
.name {
  margin: 0 auto;
}

h2 {
  padding-left: 12rem;
}

.name {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    color: darkgreen;   
    padding-right: 0rem;

}

.socials {
  display: flex; 
  justify-content: center;
   gap: 10px;
  padding-right: 1rem 0; 
}

.linkedin,
.github {
  background: none;
  border: none;
}

.pic {
  
  border-radius: 50%;
}

.facePic {
  object-fit: cover;
  padding-bottom: 3rem;
  border-radius: 50%;
   height: auto;
   width: auto;
}

.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
}



  @media (max-width: 770px) {
    body {
      background-image: url("src/assets/alexandru-acea-XEB8y0nRRP4-unsplash.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  
    .middleSection h1 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-size: 4rem; /* Reduced size for smaller screens */
      font-weight: bold;
      color: rgb(1, 1, 1);
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
      font-style: italic;
      text-align: center;
    }
  
    h1,
    .name {
      margin: 0 auto;
    }
  
    h2 {
      padding-left: 4rem; /* Reduced padding for smaller screens */
    }
  
    .name {
      display: flex;
      font-size: 2rem; /* Adjusted for smaller screens */
      font-weight: bold;
      color: darkgreen;
      padding-right: 2rem; /* Reduced right padding */
    }
  
    .socials {
      gap: 10px; /* Adjusted spacing */
      padding-right: 2rem; /* Reduced padding */
    }
  
    .linkedin,
    .github {
      background: none;
      border: none;
    }
  
    .pic {
      border-radius: 50%;
    }
  
    .facePic {
      object-fit: cover;
      padding-bottom: 5rem; /* Adjusted padding */
      border-radius: 50%;
      height: 40%; /* Adjusted size */
      width: 100%;
    }
  
    .home {
      display: block; /* Stack elements on smaller screens */
    }
  }
  

