.typewriter-container {
  padding-top: 2rem;
  padding-left: 3rem;
  font-size: 2rem;
  color: brown
}

.home-content {
  display: flex; 
  padding-left: 3rem;

} 

.nav-logo {
  padding-right: 5rem;
  width: 25%;
  border-radius: 15px;


}

h2, .description, .projects-description, .about-description {
  padding: 1rem;
}

.about-description, .about-title {
  text-align: left;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.name {
    display: block;
    font-size: 2rem;
    font-weight: bold;   
    padding-right: 0rem;

}

.description {
  text-align: left;  
  width: 100%;
  max-width: 800px;
  margin: 0 auto 0 0;
  padding: 1rem; 
}



  @media (max-width: 770px) {
    
  
  
    h1, .name {
      margin: 0 auto;
    }
  
    h2 {
      padding-left: 4rem; /* Reduced padding for smaller screens */
    }
  
    .name {
      display: flex;
      font-size: 2rem; /* Adjusted for smaller screens */
      font-weight: bold;
      padding-right: 2rem; /* Reduced right padding */
    }
  

  }


  @media (max-width: 500px) {

h2 {
    font-size: 16px;
    padding-left: .05rem; /* Further reduced padding for very small screens */

  }

  p {
    text-align: center;
  }

  .name {
    display: none;
  }

  
  }