.typewriter-container {
  padding-top: 2rem;
  padding-left: 3rem;
  font-size: 2rem;
  color: brown
}



.home-wrapper div, .contacts{
  font-family: monospace;
  padding-left: 4rem;
  padding-right: 4rem;
  margin: 3rem;
}

.home-content {
  display: flex; 
  padding-left: 3rem;

} 




h2, .description, .projects-description {
  padding: 1rem;
}

.description {
  text-align: left;  
  width: 100%;
  max-width: 800px;
  margin: 0 auto 0 0;
  padding: 1rem; 
}

.technologies {
  background-color:  rgb(156, 151, 138);
}

.technologies, p, h1{
  text-align: center;

}

.tech-icons {
  display: flex;  
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 6rem;
  gap: 2rem;
}


.expanding-icons {
  display: flex;  
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 6rem;
  gap: 2rem;
 
}

.nextjs-icon {
 background-color:aliceblue;
 border-radius: 50%;
 color:rgb(156, 151, 138)
}

.mongodb-icon {
  color: green;
}


.html-icon {
  color: brown;
}

.js-icon {
  color: rgb(255, 221, 51);
}

.css-icon {
  color: blue;
}


.projects-title {
  text-align: left;
  padding-left: 3rem;
}

.contacts {
  background-color:  rgb(156, 151, 138);
}







  @media (max-width: 820px) {
    
  .logo {
    height: fit-content                   
  }
  
  
    h2 {
      font-size: 20px;
       padding-left: 1rem; /*Reduced padding for smaller screens */
    }

    .typewriter-container{
      padding-right: 2rem;
      font-size: 1.5rem;
    }

    .home-wrapper div {
      padding-left: 0;
      padding-right: 0;
    }

    
.tech-icons {
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 8rem;
  gap: 1rem;

}

.expanding-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  padding: 1rem;
  font-size: 8rem;
  gap: 1rem;
  
  }

}



  .project-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1rem;
    gap: 6rem;

  }

  .pricing-link {
    padding-bottom: 4rem;
    
   
  } 



  @media (max-width: 770px) {

h2 {
    font-size: 16px;
    padding-left: .05rem; /* Further reduced padding for very small screens */

  }

  div, h1, h2, p {
    padding-left: 1rem;
    padding-right: 1rem;
  }



  p {
    text-align: center;
  }

 .home-content { 
   font-size: 18px;
    
  }

  .logo {
    display: none;
  
  }

  .typewriter-container{

    padding-left: 1rem;
    font-size: .8rem;
  }

  
  .project-links {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

} 

@media (max-width: 370px) {

  .typewriter-container {
    font-size: 1rem;
  }
  
  .home-content, .description, .seDescription { 
    font-size: 16px;
  }

  h2 {
    font-size: 14px;
    padding-left: .05rem; /* Further reduced padding for very small screens */
  }

  .project-links {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }


}