.certificate-container {
  background-color:rgb(156, 151, 138);
 

}

.certificate-grid{
  /* text-align: center; */
  font-size: 20px;
  color: #fff;
  padding: 20px;
  
}

#certificates {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}


@media (max-width: 600px) {

  .certificate-title {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  
  
.certificate-grid img {
    max-width: 250px;
   
  }
  
  
.certificate-content {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
}