
.footer-container {
    padding-top: 2rem;
    font-family: monospace;

}
.footer {

    background-color:  rgb(156, 151, 138);
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.download {
    font-size: 1.5rem;
}



.bottom {
    display: flex;
    align-items: end;

}

.links {
    padding-right: 3rem;
}

a { 
    color: black;
    padding: 1rem;
}

.contact-item {
    padding-bottom: 1rem;
}

h2 {
    font-size: larger;
}

.logo {
    width: 14rem;
    border-radius: 20%;
    margin-left: 7rem;
}



  
  
 
  @media (min-width: 640px) {
    .contact-info {
      flex-direction: row;
      
    }
  }
  

@media (max-width: 768px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    
    }



    .links {
        padding-right: 3rem;
        margin-top: 10px;
    }

    .bottom {
        flex-direction: row
    }

   a {
    font-size: medium;
   
   }
}
  
  
  
  