

.mySkills {
    font-size: 1.4rem;
    
}


.buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center ;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 2rem;

}

.javaScript {
    margin-top: 2rem;
}

.react img {
    width: 7.8rem;
    
}

.node img {
    width: 8rem;
}




