

.mySkills  {
    font-size: 1.4rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7)
}

.mySkills p{
   text-align: left;
   width: 100%;
   max-width: 800px;
   margin: 0 auto 0 0;
   padding: 1rem;


}







.buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center ;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 2rem;

}

.javaScript {
    margin-top: 2rem;
}

.react img {
    width: 7.8rem;
    
}

.node img {
    width: 8rem;
}




@media (min-width: 768px) {
    .mySkills{
      width: 100%;
      margin: 0 auto;
      text-align: le;
    }

   
}
